.App {
  text-align: center;
}

.App-header {
  background-color: #EC1D25;
  height: 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  font-size: calc(10px + 2vmin);
}

.App-header > * {
  color: white;
  text-decoration: none;
  padding: 1%;
  font-weight: bold;
  font-family: 'Bebas Neue', cursive;
}

.App-link {
  color: #61dafb;
}

.submit-button, .search {
  margin: .25rem;
  padding: .5rem;
}

body {
  text-decoration: none;
}

button {
  background-color: #EC1D25;
  color: whitesmoke;
  padding: .5rem;
  font-size: 1remy;
}

button:hover {
  color: #2E3192;
}

h1, button {
  font-family: 'Bebas Neue', cursive;
}

h2, h3, h4, p {
  font-family: 'Roboto', sans-serif;
}